[defaults]
host_key_checking = False
timeout = 60
retries = 3
stdout_callback = unixy
check_mode = False
callbacks_enabled = ansible.posix.profile_tasks
log_path = /var/log/ansible.log

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ConnectTimeout=30
pipelining = True
