[defaults]
host_key_checking = False
timeout = 60
retries = 3
stdout_callback = unixy
check_mode = False

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ConnectTimeout=30
pipelining = True
